body {
  background-color : #e705fc;
  /*background-color: #e705fc;*/
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  width: auto;
  height: 650px;
  align-items: center;
  background-attachment: fixed;

}

h1 {
  color: #fce705;
  padding: 10px 20px 15px 20px;
  border: solid 1px white;
}
