body {
  display: flex;
  flex-direction: column;
  background-color: #00ce9a;
  font-family: sans-serif;
  color : #0033ce;
  align-items: center;
  width: auto;
  height: auto;
}

#container {
  width : 600px;
  height: 600px;
  border : solid 0.08em white;
  display: grid;

}

.newdiv {
  border : solid 1px white;
  background-color: #fcfc6a;
}

.black {
  background-color: black;
}
